NEXT_PUBLIC_SUPABASE_URL=https://rriernloikzahjxzhegb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyaWVybmxvaWt6YWhqeHpoZWdiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ4NzcwNzgsImV4cCI6MjA5MDQ1MzA3OH0.AnH9_ReKvfrBxPk36wyDh1tUf-tn28rS6lZf2v9wexc
